[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg2-binary = "*"
python-dotenv = "*"
gunicorn = "*"
flask-bcrypt = "*"
pyjwt = "*"
google-api-python-client = "*"
flask-cors = "*"
celery = "*"
redis = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
